#products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  margin-top: 25px;
  font-weight: bold;
}

.img-box1 {
  width: 100%;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.images {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.h6 {
  font-size: 15px;
  color: black;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
}

.images:hover {
  border: 2px solid green;
}

@media (min-width: 768px) {
  #products {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 2560px) {
  #products {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 480px) {
  #products {
    grid-template-columns: repeat(3, 1fr);
  }
  .img-box1 {
    width: 100%;
    height: 90px;
  }
  h6 {
    font-size: 15px;
  }
}

@media (min-width: 1440px) {
  #products {
    grid-template-columns: repeat(6, 1fr);
  }
  .img-box1 {
    width: 100%;
    height: 120px;
  }
  h6 {
    font-size: 16px;
  }
}

@media (min-width: 1300px) {
  #products {
    grid-template-columns: repeat(6, 1fr);
  }
  .img-box1 {
    width: 100%;
    height: 120px;
  }
  h6 {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  #products {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .img-box1 {
    width: 100%;
    max-height: 90px !important;
    object-fit: cover;
  }

  h6 {
    font-size: 14px;
    line-height: 1.4;
  }
}
